$bg: #f2f2f2
$white: #FFFFFF
$light: #E0E0E0
$text: #202020
$text-secondary: #171717
$text-light: #828282
$main: #44c373
$main-dark: #008F28
$main-gradient: linear-gradient(279.37deg, $main 4.74%, $main-dark 92.92%)
$accent-gradient: linear-gradient(89.91deg, #FFC413 0.06%, #E99500 99.9%)
$lilac-gradient: linear-gradient(279.37deg, #7551C1 4.74%, #B19BF1 92.92%)

html, body
    max-width: 100%
    overflow-x: hidden

body
    background: $bg
    color: $text
    font-family: 'Inter'
    font-size: 16px
    font-weight: 500
    overflow-y: initial

img
    max-width: 100%

a
    color: $main
    &:hover
        color: $main-dark
        text-decoration: none

.btn
    padding: 9px 20px
    margin-left: 16px
    border-radius: 38px

.btn-primary
    background: $main
    border-color: $main
    box-shadow: inset 0px 2px 2px #8FEAB1, inset 0px -2px 2px rgba(0, 99, 28, 0.3)
    &:hover,
    &:active,
    &:focus,
    &:not(:disabled):not(.disabled):active
        background: $main-dark
        border-color: $main-dark
    &:focus,
    &:not(:disabled):not(.disabled):active
        box-shadow: 0 0 0 0.2rem rgba(68, 195, 115, .25)

.btn-danger
    background: #eb5757
    border-color: #EB5757
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px -2px 2px #C93D2E
    &:hover,
    &:active,
    &:focus,
    &:not(:disabled):not(.disabled):active
        background: #B71A0A
        border-color: #B71A0A
    &:focus,
    &:not(:disabled):not(.disabled):active
        box-shadow: 0 0 0 0.2rem rgba(235, 87, 87, .25)

h1
    font-size: 30px
    line-height: 36px
    font-weight: 700
    margin-bottom: 26px

h2
    font-size: 20px
    font-weight: 600
    line-height: 2.2
    margin-bottom: 0
    a
        color: $text
        &:hover
            color: $main
    i
        color: $main
        margin-right: 8px

h3
    font-size: 18px

.col-form-label
    margin: 0

.button-logout
    padding: 3px 16px
    background: rgba(68, 195, 115, 0.2)
    box-shadow: inset 0px -2px 2px rgba(68, 195, 115, 0.3)
    border: none
    border-radius: 38px
    transition: .3s
    &:hover
        background: rgba(68, 195, 115, 0.5)


.user-logout
    display: flex
    justify-content: space-between
    align-items: center

.admin-navbar
    position: fixed
    top: 0
    left: 0
    width: 270px
    height: 100vh
    overflow-y: auto
    background: $white
    padding: 38px 0
    display: flex
    flex-direction: column
    justify-content: space-between
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.05))
    .custom-logo
        margin: 0 auto 27px
        display: block
        width: 100%
        text-align: center
    &__menu
        padding: 0 19px
    &__link
        display: flex
        justify-content: flex-start
        align-items: center
        background-image: url('../img/common/admin-arrow.svg')
        background-position: center right 20px
        background-repeat: no-repeat
        position: relative
        padding: 15px 15px 15px 52px
        border-radius: 8px
        color: $text
        font-weight: 600
        font-size: 14px
        line-height: 17px
        svg
            position: absolute
            left: 19px
        span
            position: absolute
            right: 40px
            background: rgba(252, 143, 0, 0.2)
            color: #FC8F00
            border-radius: 4px
            padding: 2px 8px
        &.active
            background-color: $main
            background-image: url('../img/common/admin-arrow-active.svg')
            color: $white
            svg
                path
                    fill: $white
                    opacity: 1
                g
                    opacity: 1
            span
                color: $white
    &__user
        border-top: 1px solid #00000010
        padding: 35px 35px 0

    &::-webkit-scrollbar
        width: 4px
        background: $bg
        border-radius: 4px

    &::-webkit-scrollbar-thumb
        background: $main
        border-radius: 4px


.admin-panel
    padding: 0 0 20px 270px

.admin-navigation
    background: $white
    margin-bottom: 30px
    padding: 106px 0 0
    ul
        display: flex
        a
            font-weight: 600
            opacity: 0.5
            color: $text
            position: relative
            display: inline-block
            margin: 0 80px 12px 0
            &:hover
                color: $main
                opacity: 1
            &.active
                opacity: 1
                &:after
                    content: ''
                    width: 100%
                    height: 5px
                    border-radius: 19px
                    background: $main
                    position: absolute
                    left: 0
                    bottom: -12px


.card
    border: none

.card-header
    padding: 0
    background: #F8F8F8
    border-radius: 8px 8px 0px 0px
    border: none
    padding: 20px

.card-body
    padding: 20px
    border: none
    img
        border-radius: 8px

.table
    margin: 20px 0 0
    th:first-child
        width: 50px
    th:nth-child(2)
        width: 85px
    td
        vertical-align: middle
        white-space: nowrap
    img
        width: 100%
        max-width: 150px
        height: 40px
        object-fit: cover
        object-position: center
        &.icon
            width: 40px
            object-fit: contain

.card
    margin-bottom: 20px

label
    margin: 0 0 20px
    display: block
    color: $text-light
    font-size: 14px
    img
        display: block
        margin: 20px 0

input,
select
    width: 100%
    border: 1px solid #E0E0E0
    border-radius: 8px
    font-size: 14px
    font-weight: 500
    height: 40px
    margin: 4px 0 0
    padding: 2px 16px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    &:focus
        outline: none
        border: 1px solid $main

select
    background-image: url('../img/common/select.svg')
    background-position: center right 10px
    background-repeat: no-repeat

textarea
    width: 100%
    border: 1px solid #E0E0E0
    border-radius: 8px
    font-size: 14px
    font-weight: 500
    height: 300px
    margin: 4px 0 0
    padding: 2px 16px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    resize: none
    &:focus
        outline: none
        border: 1px solid $main

input[type="file"]
    border: none
    padding: 0
    border-radius: 0

.input-file
    position: relative
    cursor: pointer
    &:before
        content: 'Выберите файл'
        background: #FFFFFF
        box-shadow: inset 0px -2px 2px rgba(185, 185, 185, 0.3)
        border-radius: 38px
        color: $main
        position: absolute
        left: 0
        padding: 9px 22px
        cursor: pointer
    input[type="file"]
        opacity: 0
        cursor: pointer
    #file-name
        position: absolute
        left: 174px
        top: 8px
        font-size: 16px

.checkbox
    font-size: 14px
    margin: 0 0 10px
    input
        position: absolute
        z-index: -1
        opacity: 0
    &__text
        position: relative
        padding: 0 0 0 30px
        cursor: pointer
        &:before
            content: ''
            position: absolute
            top: 2px
            left: 0
            width: 20px
            height: 20px
            border-radius: 5px
            border: 1px solid #E0E0E0
        &:after
            content: url('../img/common/check.svg')
            position: absolute
            top: 3px
            left: 3px
            opacity: 0
    input:checked + .checkbox__text:before
        background: $main
        border: 1px solid $main
    input:checked + .checkbox__text:after
        opacity: 1


.radio
    margin: 0
    height: 100%
    input
        position: absolute
        z-index: -1
        opacity: 0
        margin: 10px 0 0 7px
        height: auto
    &__text
        position: relative
        cursor: pointer
        text-align: center
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        border-radius: 20px
    input:checked + .radio__text
        color: $main
        background: $white
        box-shadow: 0px 4px 3px rgba(64, 94, 72, 0.1)


.composition
    display: flex
    flex-wrap: wrap
    .checkbox
        width: 25%

ul
    padding: 0
    list-style: none

@media (max-width: 1199px)
    .composition
        .checkbox
            width: 33%

@media (max-width: 991px)
    .composition
        .checkbox
            width: 50%

@media (max-width: 575px)
    .composition
        .checkbox
            width: 100%
