@charset "UTF-8";
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #f2f2f2;
  color: #202020;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  overflow-y: initial;
}

#app {
  padding-top: 41px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1310px;
  }
}

h1 {
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 16px;
}

a {
  color: inherit;
  outline: none;
}

a:focus {
  outline: none;
  -moz-outline-style: none;
}

a:hover {
  text-decoration: none;
  color: #44C373;
}

ul {
  list-style: none;
  padding: 0;
}

button:focus,
.button:focus,
.link:focus {
  outline: none;
}

.button {
  font-weight: 600;
  display: inline-block;
  background: #44C373;
  box-shadow: inset 0px 2px 2px #8FEAB1, inset 0px -2px 2px rgba(0, 99, 28, 0.31);
  color: #FFFFFF;
  border: none;
  border-radius: 38px;
  padding: 7px 18px;
  transition: .3s;
}

.button:hover {
  color: #FFFFFF;
  transform: scale(1.05);
}

.button.disabled {
  pointer-events: none;
  background-color: #E6E6E6;
  box-shadow: none;
  color: #828282;
  filter: grayscale(1);
}

.button.disabled span:after {
  background: #BDBDBD;
}

.button.disabled svg path {
  fill: #828282;
}

.button-red {
  background: #EB5757;
  box-shadow: inset 0px 2px 2px #FFC4BB, inset 0px -2px 2px #B71A0A;
}

.button-red-contour {
  box-shadow: inset 0 0 0 3px #EB5757;
  color: #202020;
  background: transparent;
}

.button-red-contour:hover {
  color: #202020;
}

.button-order {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 20px 0;
}

.button-order span {
  position: relative;
  font-size: 12px;
  padding-right: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.button-order span:after {
  content: '';
  width: 1px;
  height: 19px;
  background: #3FA765;
  position: absolute;
  top: 0;
  right: 0;
}

.button-order svg {
  margin-right: 7px;
}

.button-cart-arrow {
  background-image: url("/../img/common/arrow-button.svg");
  background-position: center right 9px;
  background-repeat: no-repeat;
  text-align: center;
  width: calc(100% - 30px);
  display: block;
  margin: 0 15px 6px;
}

.link {
  color: #44C373;
  font-weight: 600;
}

.link-collapse[aria-expanded="false"]:before {
  content: 'Подробнее';
}

.link-collapse[aria-expanded="true"]:before {
  content: 'Скрыть';
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.links a {
  background: #44C373;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.links a svg {
  max-width: 24px;
}

.links a:hover svg path {
  fill: #FFFFFF !important;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
}

table td {
  padding: 0 0 15px;
  color: #4F4F4F;
  font-weight: 400;
}

table td:last-child {
  text-align: right;
  color: #202020;
  font-weight: 700;
  white-space: nowrap;
}

table th {
  border-top: 1px solid #E0E0E0;
  padding: 10px 0 0;
}

table th:first-child {
  color: #4F4F4F;
  font-weight: 400;
}

table th:last-child {
  text-align: right;
  font-size: 20px;
  white-space: nowrap;
}

.info {
  display: inline-block;
  position: relative;
}

.info img {
  cursor: pointer;
}

.info__item {
  position: absolute;
  top: 0;
  left: -306px;
  display: none;
  padding: 6px 64px 0 0;
}

.info__item__inner {
  width: 287px;
  background: #FFFFFF;
  border: 1px dashed #44C373;
  box-shadow: 1px 5px 13px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;
  font-size: 12px;
  line-height: 130%;
}

.info:hover .info__item {
  display: block;
}

label {
  margin: 0 0 16px;
  width: 100%;
  color: #828282;
}

.label-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label-30 {
  width: calc(30% - 15px / 2);
}

.label-50 {
  width: calc(50% - 15px / 2);
}

.label-70 {
  width: calc(70% - 15px / 2);
}

input {
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin: 4px 0 0;
  padding: 2px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
  border: 1px solid #44C373;
}

.checkbox {
  font-size: 14px;
  width: 150px;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
}

.checkbox__text:after {
  background-image: url("/../img/common/check.svg");
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: 0;
}

.checkbox input:checked + .checkbox__text:before {
  background: #44C373;
  border: 1px solid #44C373;
}

.checkbox input:checked + .checkbox__text:after {
  opacity: 1;
}

.radio {
  margin: 0;
  height: 100%;
}

.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
  height: auto;
}

.radio__text {
  position: relative;
  cursor: pointer;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.radio input:checked + .radio__text {
  color: #44C373;
  background: #FFFFFF;
  box-shadow: 0px 4px 3px rgba(64, 94, 72, 0.1);
}

.vue-numeric-input {
  width: 98px !important;
  height: 34px;
  border-radius: 37px;
  background: #f2f2f2;
  padding: 6px;
}

.vue-numeric-input .numeric-input {
  border: none !important;
  background: transparent;
  text-align: center !important;
  height: 22px;
  margin: 0;
}

.vue-numeric-input .btn {
  width: 22px !important;
  height: 22px !important;
  border-radius: 50% !important;
  background: #44C373 !important;
  border: none !important;
  top: 6px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 1px;
  box-shadow: none !important;
  transition: .3s;
}

.vue-numeric-input .btn i {
  display: none !important;
}

.vue-numeric-input .btn:hover {
  transform: scale(1.1);
}

.vue-numeric-input .btn-decrement {
  left: 6px !important;
}

.vue-numeric-input .btn-decrement:before {
  content: url("/../img/common/minus.svg");
  height: 100%;
}

.vue-numeric-input .btn-increment {
  right: 6px !important;
}

.vue-numeric-input .btn-increment:before {
  content: url("/../img/common/plus.svg");
  height: 100%;
}

select {
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin: 4px 0 0;
  padding: 2px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  appearance-background-image: url("/../img/common/select.svg");
  background-position: center right 10px;
  background-repeat: no-repeat;
}

select:focus {
  outline: none;
  border: 1px solid #44C373;
}

textarea {
  width: 100%;
  height: 128px;
  resize: none;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  margin: 4px 0 0;
  padding: 2px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea:focus {
  outline: none;
  border: 1px solid #44C373;
}

.steps-order {
  justify-content: space-between;
  margin: 20px 0 40px;
}

.steps-order__item {
  max-width: 95px;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.steps-order__item__number {
  background: #f2f2f2;
  border: 2px dashed #E0E0E0;
  color: #BDBDBD;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 10px;
}

.steps-order__item.active {
  color: #202020;
}

.steps-order__item.active .steps-order__item__number {
  background: #44C373;
  border: none;
  box-shadow: inset 0px 2px 2px #8FEAB1, inset 0px -2px 2px rgba(0, 99, 28, 0.3);
  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 99, 28, 0.25);
}

.steps-order__item:not(:first-child):before {
  content: '';
  width: 76px;
  border-top: 2px dashed #E0E0E0;
  position: absolute;
  top: 30px;
  left: -50px;
  z-index: -1;
}

.steps-order__item:not(:first-child).active:before {
  border-top: 2px solid #44C373;
}

.alert {
  background: #FFF4C5 url("/../img/common/alert.svg") center left 17px no-repeat;
  border: 1px solid #FFA402;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  padding: 15px 15px 15px 47px;
  font-size: 12px;
  margin-bottom: 20px;
}

.alert:before {
  content: '';
  background: #FFA402;
  width: 9px;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.text-page {
  color: #333333;
  padding-bottom: 30px;
  font-size: 12px;
  line-height: 15px;
}

.text-page h2 {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  margin-bottom: 15px;
}

.text-page h2:before {
  content: url("/../img/common/marker.svg");
  position: absolute;
  top: 4px;
  left: 0;
}

.text-page h3 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  margin-bottom: 15px;
}

.text-page ol {
  list-style: none;
  counter-reset: list 0;
  padding: 0;
  margin-bottom: 30px;
}

.text-page ol li {
  margin-bottom: 15px;
}

.text-page ol li:before {
  content: counter(list) ". ";
  counter-increment: list;
  font-weight: 700;
  margin-right: 2px;
}

.text-page ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
}

.text-page ul li:before {
  content: url("/../img/common/marker.svg");
  position: absolute;
  top: 4px;
  left: 0;
}

.vm--modal {
  border-radius: 8px;
}

.modalinfo .vm--modal {
  text-align: center;
  border-radius: 20px;
  padding: 44px 20px;
}

.modalinfo .vm--modal img {
  margin-bottom: 20px;
}

.modalinfo .vm--modal h2 {
  margin-bottom: 20px;
}

.modalinfo .vm--modal p {
  color: #828282;
  font-size: 16px;
  line-height: 19px;
}

.modalinfo .vm--modal .button {
  margin: 14px 0;
}

.modalinfo .vm--modal .buttons .button {
  margin: 14px 10px;
}

.modaladdress .vm--modal {
  padding: 15px;
  position: relative;
}

.modaladdress h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.modaladdress .product-item__variants {
  width: 258px;
}

.modaladdress .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background: #f2f2f2;
  border-radius: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.modaladdress .modal-close:hover {
  background: #44C373;
}

.modaladdress .modal-close:hover svg path {
  fill: #202020;
}

.modaladdress button {
  margin-bottom: 20px;
}

.modaladdress p {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.modaladdress .contacts__map {
  height: 170px;
}

.suggestion__suggestions {
  background: #FFFFFF;
  box-shadow: 0px 4px 3px rgba(64, 94, 72, 0.5);
  max-height: 140px;
  overflow-y: auto;
  border-radius: 8px;
}

.suggestion__suggestions::-webkit-scrollbar {
  width: 4px;
  background: #f2f2f2;
  border-radius: 4px;
}

.suggestion__suggestions::-webkit-scrollbar-thumb {
  background: #BDBDBD;
  border-radius: 4px;
}

.suggestion__suggestions-item {
  padding: 4px 10px;
  cursor: pointer;
  display: block;
}

.suggestion__suggestions-item:hover {
  background: #44C373;
  color: #FFFFFF;
}

@media (min-width: 576px) {
  #app {
    padding-top: 117px;
  }
}

@media (min-width: 992px) {
  #app {
    padding-top: 106px;
  }
  h1 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 26px;
  }
  label {
    width: 260px;
  }
  label:not(:last-child) {
    margin-right: 30px;
  }
  .label-flex {
    justify-content: flex-start;
  }
  .label-30 {
    width: 130px;
  }
  .label-50 {
    width: 130px;
  }
  .label-70 {
    width: 290px;
  }
  .label-textarea {
    width: 600px;
  }
  .checkbox {
    margin: 30px 0 16px;
  }
  .modaladdress .vm--modal {
    padding: 35px 40px;
  }
}

@media (min-width: 1200px) {
  body {
    overflow-x: unset;
  }
  #app {
    padding-top: 71px;
  }
  .button {
    padding: 9px 22px;
  }
  .button-order {
    padding: 20px 10px;
  }
  .button-order span {
    padding-right: 7px;
    margin-right: 7px;
  }
  .button-cart-arrow {
    padding: 14px 66px 14px 22px;
  }
  label {
    font-size: 16px;
  }
  input,
  select {
    height: 50px;
    font-size: 16px;
  }
  textarea {
    font-size: 16px;
  }
  .text-page {
    padding-bottom: 90px;
    font-size: 16px;
    line-height: 130%;
  }
  .text-page h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .text-page h2:before {
    top: 4px;
    left: 0;
  }
  .text-page h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .text-page ol {
    margin-bottom: 44px;
  }
  .text-page ol li {
    margin-bottom: 22px;
  }
  .text-page ul li {
    margin-bottom: 30px;
  }
  .text-page ul li:before {
    top: 4px;
    left: 0;
  }
}

header {
  padding: 10px 0;
  background: #f2f2f2;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

header .custom-logo {
  display: block;
  margin: 5px 0 3px;
}

header .custom-logo img {
  max-height: 100%;
}

header .nav__mobile {
  display: none;
}

header ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 16px 16px 0 0;
}

header ul span {
  color: #828282;
}

header ul a.active,
header ul .router-link-active {
  color: #44C373;
}

header ul .router-link-exact-active span {
  color: #44C373;
}

header p {
  margin-bottom: 0;
}

header .phone {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 5px 0 0;
}

header .phone svg {
  margin-right: 8px;
}

header .address {
  font-size: 13px;
  color: #828282;
}

header .address span {
  color: #202020;
}

header .button-cart {
  border-radius: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 5px 20px 5px 16px;
  white-space: nowrap;
}

header .button-cart svg {
  margin-right: 2px;
}

header .button-cart__count {
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  color: #202020;
  font-weight: 700;
  padding: 3px 7px;
  display: inline-block;
}

header .button-cart__price {
  font-size: 18px;
  font-weight: bold;
}

header .close {
  display: none;
  opacity: 1;
  position: relative;
  right: -25px;
  cursor: pointer;
}

@media (max-width: 575px) {
  header {
    padding: 7px 0 2px;
    border-bottom: 1px solid #E0E0E0;
  }
  header .hamburger {
    margin-left: -5px;
    position: relative;
  }
  header .custom-logo {
    height: 30px;
    text-align: center;
    margin: -2px 0 3px 14px;
  }
  header .nav {
    position: absolute;
    top: 40px;
    left: -100%;
    height: calc(100vh - 40px);
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    transition: .3s;
    z-index: 2;
  }
  header .nav ul {
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px;
  }
  header .nav ul li {
    margin-bottom: 5px;
  }
  header .nav ul span {
    color: #202020;
  }
  header .nav__mobile {
    text-align: center;
  }
  header .nav__mobile__phone, header .nav__mobile__address {
    margin-bottom: 14px;
  }
  header .nav__mobile__phone a, header .nav__mobile__address a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .nav__mobile__phone svg, header .nav__mobile__address svg {
    margin-right: 5px;
  }
  header .nav__mobile__address span {
    font-size: 14px;
    font-weight: 500;
    color: #828282;
    display: block;
  }
  header .nav.active {
    left: 0;
  }
  header .nav.active .nav__mobile {
    display: block;
  }
  header .phone {
    display: block;
    margin: -1px 0 0 -2px;
    position: relative;
  }
  header .phone span {
    display: none;
  }
  header .address {
    display: none;
  }
  header .button-cart {
    background: transparent;
    padding: 0;
    box-shadow: none;
    display: block;
    position: relative;
  }
  header .button-cart svg {
    margin: 0 0 0 3px;
  }
  header .button-cart svg path {
    fill: #202020;
  }
  header .button-cart__count {
    position: absolute;
    font-size: 10px;
    color: #202020;
    background: #44C373;
    top: -2px;
    right: -32px;
    padding: 0 5px;
  }
  header .button-cart__price {
    display: none;
  }
  header.active .hamburger {
    display: none;
  }
  header.active .phone {
    display: none;
  }
  header.active .button-cart {
    display: none;
  }
  header.active .close {
    display: block;
  }
}

@media (max-width: 400px) {
  header .hamburger:after {
    content: '';
    width: 1px;
    height: 40px;
    background: #E0E0E0;
    position: absolute;
    top: -7px;
    right: -2px;
  }
  header .phone:after {
    content: '';
    width: 1px;
    height: 40px;
    background: #E0E0E0;
    position: absolute;
    top: -7px;
    left: -13px;
  }
  header .button-cart:after,
  header .close:after {
    content: '';
    width: 1px;
    height: 40px;
    background: #E0E0E0;
    position: absolute;
    top: -7px;
    left: -6px;
  }
  header .close:after {
    left: -12px;
  }
}

@media (min-width: 576px) {
  header ul {
    margin: 4px 0 0 0;
    flex-wrap: wrap;
  }
  header ul li:first-child {
    display: none;
  }
}

@media (min-width: 768px) {
  header ul {
    margin: 16px 0 0 0;
  }
}

@media (min-width: 992px) {
  header .phone {
    justify-content: flex-end;
  }
  header .address {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  header .button-cart__price {
    font-size: 15px;
  }
}

@media (min-width: 1400px) {
  header {
    padding: 10px 0 12px;
  }
  header ul {
    margin: 16px 16px 0 14px;
  }
  header ul li:first-child {
    display: block;
  }
  header .phone {
    justify-content: flex-start;
  }
  header .address {
    text-align: left;
  }
  header .button-cart__price {
    font-size: 18px;
  }
}

.discounts {
  padding-bottom: 60px;
}

.discount-item {
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 30px;
  height: calc(100% - 30px);
  transition: .3s;
}

.discount-item h2 {
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 10px;
}

.discount-item__img {
  border-radius: 8px;
  width: 100%;
}

.discount-item__text {
  padding: 15px;
}

.discount-item__time {
  color: #828282;
  background: url("/../img/discounts/clock.svg") left center no-repeat;
  font-size: 12px;
  font-weight: 400;
  padding-left: 20px;
  margin-bottom: 20px;
}

.discount-item:hover {
  transform: translateY(-5px);
}

@media (min-width: 576px) {
  .discount-item__info {
    height: 84px;
  }
}

@media (min-width: 768px) {
  .discount-item h2 {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (min-width: 1200px) {
  .discount-item__text {
    padding: 20px;
  }
}

.discountsitem {
  padding: 0 0 40px;
}

.discountsitem h1 {
  font-size: 16px;
  line-height: 19px;
  color: #202020;
}

.discountsitem h2 {
  font-size: 16px;
  line-height: 19px;
}

.discountsitem__back {
  color: #828282;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.discountsitem__back svg {
  margin-right: 6px;
}

.discountsitem__back:hover {
  color: #44C373;
}

.discountsitem__back:hover svg path {
  stroke: #44C373;
}

.discountsitem__item {
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 30px;
}

.discountsitem__img {
  width: 100%;
  border-radius: 10px;
}

.discountsitem__text {
  padding: 10px 10px 20px;
  font-size: 12px;
  line-height: 15px;
  color: #4F4F4F;
}

.discountsitem .time {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .discountsitem h2 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .discountsitem {
    padding: 0 0 90px;
  }
  .discountsitem h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .discountsitem__back {
    font-size: 16px;
    line-height: 19px;
    color: #4F4F4F;
    margin-bottom: 46px;
  }
  .discountsitem__back svg {
    margin-right: 10px;
  }
  .discountsitem__back svg path {
    stroke: #4F4F4F;
  }
  .discountsitem__text {
    padding: 40px;
    font-size: 16px;
    line-height: 19px;
  }
  .discountsitem__description {
    margin-bottom: 22px;
  }
  .discountsitem .time {
    background-size: 20px;
    font-size: 14px;
    line-height: 17px;
    padding-left: 25px;
  }
}

.discount-other {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: .3s;
}

.discount-other h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 10px;
}

.discount-other__img {
  width: 118px;
  margin-right: 10px;
  border-radius: 4px;
}

.discount-other__text {
  width: calc(100% - 128px);
}

.discount-other__time {
  color: #828282;
  background: url("/../img/discounts/clock.svg") left center no-repeat;
  font-size: 11px;
  font-weight: 400;
  padding-left: 20px;
  margin-bottom: 0;
}

.discount-other:hover {
  transform: translateY(-5px);
}

@media (min-width: 768px) {
  .discount-other {
    flex-wrap: wrap;
  }
  .discount-other__img {
    width: 100%;
  }
  .discount-other__text {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .discount-other {
    margin-bottom: 15px;
  }
  .discount-other__img {
    width: 110px;
  }
  .discount-other__text {
    width: calc(100% - 120px);
  }
}

@media (min-width: 1200px) {
  .discount-other {
    padding: 15px;
    margin-bottom: 30px;
  }
  .discount-other__img {
    width: 167px;
    margin-right: 15px;
  }
  .discount-other__text {
    width: calc(100% - 182px);
  }
}

.map__info {
  margin-bottom: 30px;
}

.map__map {
  height: 628px;
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .map p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .map__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .map__alert {
    font-size: 14px;
  }
  .map__map {
    margin-bottom: 120px;
  }
}

.howto h2 {
  font-weight: 800;
  color: #44C373;
  margin-bottom: 0;
}

.howto__map {
  background: url("/../img/contacts/map.jpg") center;
  background-size: cover;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 30px;
}

.howto__item {
  background: #FCFCFC;
  border: 3px solid #f2f2f2;
  border-radius: 10px;
  text-align: center;
  padding: 20px 15px 0;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .howto__map {
    height: 280px;
  }
}

@media (min-width: 1200px) {
  .howto h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 8px;
  }
  .howto__item {
    padding: 44px 14px 24px;
    margin-bottom: 46px;
  }
  .howto__item p {
    font-size: 16px;
    line-height: 19px;
  }
}

.contacts {
  padding-bottom: 60px;
}

.contacts .menu.simple {
  margin-bottom: 0;
}

.contacts h1 {
  color: #FFFFFF;
}

.contacts h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #44C373;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}

.contacts h2 img {
  margin-right: 10px;
}

.contacts p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.contacts__header {
  background-size: cover;
  background-position: center;
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contacts__block {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  padding: 26px 15px;
  text-align: center;
  margin-bottom: 15px;
}

.contacts__block a svg {
  display: none;
}

.contacts__map {
  height: 400px;
}

.contacts__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 30px);
  margin: 0 0 20px;
}

.contacts__links .links {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .contacts__links {
    margin: 12px 0 46px;
  }
  .contacts__header {
    height: 180px;
  }
}

@media (min-width: 1200px) {
  .contacts h1 {
    font-size: 35px;
  }
  .contacts__header {
    margin-bottom: 60px;
    height: 250px;
  }
  .contacts__block {
    margin-bottom: 30px;
  }
  .contacts__map {
    height: 100%;
  }
  .contacts__links {
    font-size: 16px;
    margin: 12px 0 46px;
    height: auto;
  }
}

.payment img {
  margin-bottom: 20px;
}

.success {
  text-align: center;
  min-height: 460px;
}

.success p {
  color: #828282;
}

.success p span {
  color: #202020;
}

.success__img {
  margin: 30px 0 20px;
}

@media (min-width: 992px) {
  .success {
    height: calc(100vh - 106px - 409px);
  }
}

@media (min-width: 1200px) {
  .success {
    height: calc(100vh - 91px - 305px);
  }
  .success p {
    font-size: 16px;
  }
  .success__img {
    margin: 30px 0;
  }
}

.error {
  background: url("/../img/common/404.png") center right;
  text-align: center;
  min-height: 500px;
}

.error__img {
  margin: 30px 0 20px;
}

@media (min-width: 992px) {
  .error {
    height: calc(100vh - 106px - 409px);
  }
}

@media (min-width: 1200px) {
  .error {
    height: calc(100vh - 91px - 305px);
  }
  .error p {
    font-size: 16px;
  }
  .error__img {
    margin: 30px 0;
  }
}

footer {
  background: #FFFFFF;
  padding: 18px 0;
  text-align: center;
}

footer .custom-logo {
  margin-bottom: 18px;
  display: inline-block;
}

.footer__phone, .footer__address {
  font-weight: 700;
  margin-bottom: 18px;
}

.footer__phone svg, .footer__address svg {
  margin-right: 5px;
}

.footer__phone .text-l, .footer__address .text-l {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #828282;
}

.footer__outer {
  display: flex;
  flex-direction: column-reverse;
}

.footer__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer__nav li {
  margin: 0 5px 10px;
}

.footer__nav a {
  color: #828282;
  font-weight: 400;
}

.footer__nav a:hover {
  color: #44C373;
}

.footer__menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer__menu h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px 16px;
}

.footer__copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #828282;
}

.footer__copyright p {
  margin-bottom: 0;
}

.footer__pay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0 20px;
}

.footer__pay img {
  margin: 0 5px 10px;
}

@media (min-width: 1200px) {
  footer {
    text-align: left;
    padding: 0 0 25px;
  }
  .footer__info {
    padding-top: 25px;
  }
  .footer__outer {
    flex-direction: row;
  }
  .footer__phone svg, .footer__address svg {
    margin: 0;
  }
  .footer__menu {
    justify-content: space-between;
  }
  .footer__pay {
    justify-content: flex-start;
  }
  .footer__pay img {
    margin: 0 5px 10px 0;
  }
}

@media (min-width: 1400px) {
  .footer__info {
    box-shadow: 0px 15px 30px rgba(34, 39, 41, 0.05);
  }
  .footer__phone, .footer__address {
    font-size: 16px;
  }
  .footer__phone svg, .footer__address svg {
    margin-right: 5px;
  }
  .footer__phone .text-l, .footer__address .text-l {
    font-size: 14px;
  }
  .footer__outer {
    justify-content: space-between;
  }
  .footer__nav {
    margin-top: 5px;
  }
  .footer__nav li {
    margin: 0 21px 0 0;
  }
  .footer__links a {
    margin: 0 0 0 10px;
  }
  .footer__menu {
    margin: 20px 0 10px;
  }
  .footer__copyright {
    padding: 20px 0;
  }
  .footer__pay {
    padding: 10px 0 20px;
    justify-content: space-between;
  }
}

